<article>
    <header class="centering">
        <%= image_tag 'TechCorpLogo.svg', alt: "Tech Job Corp", id: "game-logo" %>
    </header>
    <br/>
    <section>
        <header>
            <h1 id="game-title">
                The Software Interview Game
            </h1>
        </header>
        <p>
            The late nights, exams, group projects (oh the humanity...), billions of resumes and it’s all come down to this...the interview! 
            <br />
            <br />
            Well, we got you fam. Apply for the job at our 100% totally legit Tech Job Corp*. At Tech Job Corp we believe in ping pong tables, pointing at post-its, lines on whiteboards and slathering your laptop in stickers. Just submit your resume below and we’ll see you at your interview.
        </p>
    </section>
    
    <section>
        <nav aria-label="Game menu" class="main-menu">
            <%= link_to 'Apply for Tech Job Corp', new_user_path, class: "button button-primary" %>

            <%= link_to 'Login', login_path, class: "button button-secondary" %>

            <%= link_to 'View our top employees', scores_path, class: "button button-secondary" %>
        </nav>
    </section>
            <p>
            <small>
                * Tech job corp is an artificial, fake news, non-existent, not real company. We're not evil...honest.
            </small>
        </p>
</article>
  