/* Stylesheet for our custom CSS */

#game-logo {
    height: 48px;
    margin-bottom: 24px;
}


.page-title {
    /* The Software Interview Game (on home page) */
    font-size: 24px;
    font-weight: 500;
}

.main-menu {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
}

.spacer {
    height: 50px;
}

.centering {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    /* Sticky footer */
    position: fixed;
    bottom: 24px;
}

small {
    color: rgba(255, 255, 255, 0.6);
}